In [1]:
import pandas as pd

# 1. 크롤링 데이터

### 1) 데이터 불러오기

In [2]:
page_1 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/1page.csv', encoding='utf-8')
page_2 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/2page.csv', encoding='utf-8')
page_3 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/3page.csv', encoding='cp949', sep=',')
page_4 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/4page.csv', encoding='cp949', sep=',')
page_5 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/5page.csv', encoding='utf-8')
page_6 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/6page.csv', encoding='cp949', sep='\t')
page_7 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/7page.csv', encoding='utf-8')
page_8 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/8page.csv', encoding='utf-8')
page_9 = pd.read_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/9page.csv', encoding='utf-8')

In [3]:
page_1.columns = ['xlsx_name', 'total_num']

### 2) 데이터 결합

In [4]:
data = pd.concat([page_1, page_2, page_3, page_4, page_5, page_6, page_7, page_8, page_9], axis=0)
data = data.reset_index(drop=True)
data.shape

(4148, 2)

In [5]:
data

                              xlsx_name  total_num
0        가락몰도서관 장서 대출목록 (2019년 01월).csv     199465
1        가락몰도서관 장서 대출목록 (2019년 02월).csv     206002
2        가락몰도서관 장서 대출목록 (2019년 03월).csv     214291
3        가락몰도서관 장서 대출목록 (2019년 04월).csv     222480
4        가락몰도서관 장서 대출목록 (2019년 05월).csv     228169
...                                 ...        ...
4143  휘경어린이도서관 장서 대출목록 (2021년 03월).xlsx     305705
4144  휘경어린이도서관 장서 대출목록 (2021년 04월).xlsx     311111
4145  휘경어린이도서관 장서 대출목록 (2021년 05월).xlsx     316548
4146  휘경어린이도서관 장서 대출목록 (2021년 06월).xlsx     321968
4147  휘경어린이도서관 장서 대출목록 (2021년 07월).xlsx     329149

[4148 rows x 2 columns]

### 3) 데이터 가공

In [6]:
for i in range(len(data)):
    if data.loc[i,'xlsx_name'].find('평생학습관') != -1:
        data.loc[i, 'library_name'] = data.loc[i, 'xlsx_name'][:data.loc[i,'xlsx_name'].find('평생학습관')] + '평생학습관'
    else:
        data.loc[i, 'library_name'] = data.loc[i, 'xlsx_name'][:data.loc[i,'xlsx_name'].find('도서관')] + '도서관'

In [7]:
# data['library_name'].unique()

In [8]:
for i in range(len(data)):
    date = data.loc[i, 'xlsx_name'][data.loc[i,'xlsx_name'].find('(')+1 : data.loc[i,'xlsx_name'].find(')')]
    data.loc[i, 'date'] = date.replace(' ','').replace('년','').replace('월','')

In [9]:
# data['date'].unique()

In [10]:
data.head()

                        xlsx_name  total_num library_name    date
0  가락몰도서관 장서 대출목록 (2019년 01월).csv     199465       가락몰도서관  201901
1  가락몰도서관 장서 대출목록 (2019년 02월).csv     206002       가락몰도서관  201902
2  가락몰도서관 장서 대출목록 (2019년 03월).csv     214291       가락몰도서관  201903
3  가락몰도서관 장서 대출목록 (2019년 04월).csv     222480       가락몰도서관  201904
4  가락몰도서관 장서 대출목록 (2019년 05월).csv     228169       가락몰도서관  201905

# 2. 행정동 데이터와 결합

### 1) 데이터 불러오기

In [11]:
index_library = pd.read_csv('C:/Users/user/Desktop/도서나루/seoul_libry.csv', index_col=[0])
index_library[['lib_name', '행정동']].head()

     lib_name   행정동
60    성북정보도서관  월곡2동
61     해오름도서관  돈암2동
62     아리랑도서관  돈암2동
64  석관동미리내도서관   석관동
65      정릉도서관  정릉2동

### 2) 데이터 결합

In [12]:
result = pd.merge(data[['library_name', 'date', 'total_num']], index_library[['lib_name', '행정동']], how='left', left_on='library_name', right_on='lib_name')
result.head()

  library_name    date  total_num lib_name   행정동
0       가락몰도서관  201901     199465   가락몰도서관  가락1동
1       가락몰도서관  201902     206002   가락몰도서관  가락1동
2       가락몰도서관  201903     214291   가락몰도서관  가락1동
3       가락몰도서관  201904     222480   가락몰도서관  가락1동
4       가락몰도서관  201905     228169   가락몰도서관  가락1동

In [13]:
result.isnull().sum()

library_name      0
date              0
total_num         0
lib_name        133
행정동             133
dtype: int64

In [14]:
result[result['lib_name'].isnull()]['library_name'].unique()

array(['열린도서관', '관악문화관도서관', '상림마을작은도서관', '동작상도국주도서관', '배봉산숲도서관',
       '소나무언덕잠실본동작은도서관', '아리랑정보도서관', '은평구립구산동도서관'], dtype=object)

- 이름이 살짝 달라서 찾지 못하는 도서관 수동으로 매칭

In [15]:
a = index_library.loc[index_library['lib_name']=='은평구립구산동도서관마을',('lib_name', '행정동')].values
b = index_library.loc[index_library['lib_name']=='소나무언덕잠실본동도서관',('lib_name', '행정동')].values
c = index_library.loc[index_library['lib_name']=='배봉산 숲속도서관',('lib_name', '행정동')].values

In [16]:
result.loc[result['library_name']=='은평구립구산동도서관',('lib_name', '행정동')] = a
result.loc[result['library_name']=='소나무언덕잠실본동작은도서관',('lib_name', '행정동')] = b
result.loc[result['library_name']=='배봉산숲도서관',('lib_name', '행정동')] = c

In [17]:
result.isnull().sum()

library_name     0
date             0
total_num        0
lib_name        77
행정동             77
dtype: int64

In [18]:
result[result['lib_name'].isnull()]['library_name'].unique()

array(['열린도서관', '관악문화관도서관', '상림마을작은도서관', '동작상도국주도서관', '아리랑정보도서관'],
      dtype=object)

- 찾지 못한 나머지 결측 데이터는 삭제

In [19]:
result = result.dropna()
del result['library_name']
result.shape

(4071, 4)

# 3. y_label 가공

### 1) y_label(총 대출건수)가 누적 데이터인지 확인

In [20]:
data1 = pd.read_excel('C:/Users/user/Desktop/도서나루/도서관별 대출도서/7page/송파글마루도서관 장서 대출목록 (2019년 01월).xlsx')
data2 = pd.read_excel('C:/Users/user/Desktop/도서나루/도서관별 대출도서/7page/송파글마루도서관 장서 대출목록 (2019년 02월).xlsx')

In [21]:
# 하나의 도서가 여러번 적힌 경우 발생
print('data1 - 전체 데이터 형태 :', data1.shape)
print('data1 - 데이터 내 도서명 개수 :', len(data1['도서명'].unique()))
print()
print('data2 - 전체 데이터 형태 :', data2.shape)
print('data2 - 데이터 내 도서명 개수 :', len(data2['도서명'].unique()))

data1 - 전체 데이터 형태 : (84668, 13)
data1 - 데이터 내 도서명 개수 : 73317

data2 - 전체 데이터 형태 : (84794, 13)
data2 - 데이터 내 도서명 개수 : 73415

In [22]:
# 도서명으로 대출건수 다시 그루핑해서 계산
d1 = pd.DataFrame(data1['대출건수'].groupby(data1['도서명']).sum())
d2 = pd.DataFrame(data2['대출건수'].groupby(data2['도서명']).sum())

In [23]:
df = pd.merge(d1, d2, how='outer', on='도서명')

In [24]:
df.isnull().sum()

대출건수_x    98
대출건수_y     0
dtype: int64

In [25]:
# y_label이 누적 데이터 임을 확인
df = df.fillna(0)
df[df['대출건수_x']>df['대출건수_y']]

Empty DataFrame
Columns: [대출건수_x, 대출건수_y]
Index: []

### 2) y_label(총 대출건수)을 누적 데이터에서 월 별 데이터로 가공

- 도서관별 i달과 i+1달의 차이액 계산

In [26]:
result[30:70]

      date  total_num   lib_name   행정동
30  202107     379085     가락몰도서관  가락1동
31  201901     800723      가온도서관   다산동
32  201902     807133      가온도서관   다산동
33  201903     814676      가온도서관   다산동
34  201904     822090      가온도서관   다산동
35  201905     827534      가온도서관   다산동
36  201906     834751      가온도서관   다산동
37  201907     842525      가온도서관   다산동
38  201908     850764      가온도서관   다산동
39  201909     857283      가온도서관   다산동
40  201910     862781      가온도서관   다산동
41  201911     871752      가온도서관   다산동
42  201912     879326      가온도서관   다산동
43  202001     887485      가온도서관   다산동
44  202002     890701      가온도서관   다산동
45  202003     892250      가온도서관   다산동
46  202004     895730      가온도서관   다산동
47  202005     899315      가온도서관   다산동
48  202006     900618      가온도서관   다산동
49  202007     902269      가온도서관   다산동
50  202008     904149      가온도서관   다산동
51  202009     907171      가온도서관   다산동
52  202010     909269      가온도서관   다산동
53  202011     914909      가온도서관   다산동
54  202012     917814      가온도서관   다산동
55  202101     923334      가온도서관   다산동
56  202102     929369      가온도서관   다산동
57  202103     936243      가온도서관   다산동
58  202104     942149      가온도서관   다산동
59  202105     947844      가온도서관   다산동
60  202106     953557      가온도서관   다산동
61  202107     960235      가온도서관   다산동
62  201901     748788  강남구립논현도서관  논현2동
63  201902     753312  강남구립논현도서관  논현2동
64  201903     758561  강남구립논현도서관  논현2동
65  201904     764288  강남구립논현도서관  논현2동
66  201905     769048  강남구립논현도서관  논현2동
67  201906     774708  강남구립논현도서관  논현2동
68  201907     774708  강남구립논현도서관  논현2동
69  201908     774708  강남구립논현도서관  논현2동

In [27]:
result['ylabel'] = result['total_num'].groupby(result['lib_name']).diff()
result[30:70]

      date  total_num   lib_name   행정동  ylabel
30  202107     379085     가락몰도서관  가락1동  7559.0
31  201901     800723      가온도서관   다산동     NaN
32  201902     807133      가온도서관   다산동  6410.0
33  201903     814676      가온도서관   다산동  7543.0
34  201904     822090      가온도서관   다산동  7414.0
35  201905     827534      가온도서관   다산동  5444.0
36  201906     834751      가온도서관   다산동  7217.0
37  201907     842525      가온도서관   다산동  7774.0
38  201908     850764      가온도서관   다산동  8239.0
39  201909     857283      가온도서관   다산동  6519.0
40  201910     862781      가온도서관   다산동  5498.0
41  201911     871752      가온도서관   다산동  8971.0
42  201912     879326      가온도서관   다산동  7574.0
43  202001     887485      가온도서관   다산동  8159.0
44  202002     890701      가온도서관   다산동  3216.0
45  202003     892250      가온도서관   다산동  1549.0
46  202004     895730      가온도서관   다산동  3480.0
47  202005     899315      가온도서관   다산동  3585.0
48  202006     900618      가온도서관   다산동  1303.0
49  202007     902269      가온도서관   다산동  1651.0
50  202008     904149      가온도서관   다산동  1880.0
51  202009     907171      가온도서관   다산동  3022.0
52  202010     909269      가온도서관   다산동  2098.0
53  202011     914909      가온도서관   다산동  5640.0
54  202012     917814      가온도서관   다산동  2905.0
55  202101     923334      가온도서관   다산동  5520.0
56  202102     929369      가온도서관   다산동  6035.0
57  202103     936243      가온도서관   다산동  6874.0
58  202104     942149      가온도서관   다산동  5906.0
59  202105     947844      가온도서관   다산동  5695.0
60  202106     953557      가온도서관   다산동  5713.0
61  202107     960235      가온도서관   다산동  6678.0
62  201901     748788  강남구립논현도서관  논현2동     NaN
63  201902     753312  강남구립논현도서관  논현2동  4524.0
64  201903     758561  강남구립논현도서관  논현2동  5249.0
65  201904     764288  강남구립논현도서관  논현2동  5727.0
66  201905     769048  강남구립논현도서관  논현2동  4760.0
67  201906     774708  강남구립논현도서관  논현2동  5660.0
68  201907     774708  강남구립논현도서관  논현2동     0.0
69  201908     774708  강남구립논현도서관  논현2동     0.0

In [28]:
# 2019년 01월 데이터는 삭제
result = result.dropna()
result = result[['lib_name', 'date', '행정동', 'ylabel']]
result.shape

(3909, 4)

In [33]:
# 본인 경로
result.to_csv('C:/Users/user/Desktop/도서나루/도서관별 대출도서/ylabel.csv', encoding='utf-8-sig', index=False)